{%extends 'base.html'%}
{%block content%}
	<h1 style="font-family:'Eagle-Lake' ; font-size:100px;text-align:center; height:120px; color:white">E-Learn</h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">OTP-VERIFICATION</h3>
          <form method="post" novalidate>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <h1>{{request.session.0}}<h1>
  <h1>{{request.session.otp}}<h1>
  {%endblock%}